/*INDEX*/


/*
1.0 Init
2.0 Home


*/


/*INDEX*/


/* =======   1.0 Init   ======= */

*,
a {
    margin: 0;
    padding: 0;
    outline: none !important;
}

body {
    font-family: 'Montserrat', sans-serif;
	overflow-x: hidden
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}


/* =======   1.0 Init   ======= */


/* =======   2.0 Home   ======= */

.regime {
    margin-top: 11vh;
}

.regime_title {
    color: #f5886c;
    font-size: 40px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.regime_subtitle {
    display: block;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.petalbox {
    width: 75%;
    height: 455px;
    display: block;
    position: relative;
    margin: 0 auto;
}
#map h5{
	text-transform: uppercase;
}
.petalbox a {
    text-transform: capitalize;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.petalbox a.top_left {
    background: #f2f2f2;
    border-radius: 86px 90px 0 80px;
    display: block;
    left: 9%;
    line-height: 177px;
    position: absolute;
    text-align: center;
    top: 9%;
    width: 40%;
}

.petalbox a.top_left:hover,
.petalbox a.top_left:active,
.petalbox a.top_left:focus {
    background: #5cc6d0;
}

.petalbox a.top_right {
    background: #f2f2f2;
    border-radius: 86px 90px 80px 0;
    display: block;
    right: 9%;
    line-height: 177px;
    position: absolute;
    text-align: center;
    top: 9%;
    width: 40%;
}

.petalbox a.top_right:hover,
.petalbox a.top_right:active,
.petalbox a.top_right:focus {
    background: #f5886c;
}

.petalbox a.bottom_left {
    background: #f2f2f2;
    border-radius: 86px 0 90px 80px;
    display: block;
    left: 9%;
    line-height: 177px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40%;
}

.petalbox a.bottom_left:hover,
.petalbox a.bottom_left:active,
.petalbox a.bottom_left:focus {
    background: #ffcc29;
}

.petalbox a.bottom_right {
    background: #f2f2f2;
    border-radius: 0 86px 90px 80px;
    display: block;
    right: 9%;
    line-height: 177px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40%;
}

.petalbox a.bottom_right:hover,
.petalbox a.bottom_right:active,
.petalbox a.bottom_right:focus {
    background: #a8cf45;
}

.petalbox .triangle {
    display: block;
    height: 80px;
    left: 41%;
    position: absolute;
    top: 40%;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 80px;
    -webkit-box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.5);
}

.petalbox .triangle.t1 {
    background: #ffcc29;
}

.petalbox .triangle.t2 {
    background: #5cc6d0;
}

.petalbox .triangle.t3 {
    background: #f5886c;
}

.petalbox .triangle.t1 span.icon {
    background: url("../images/icon.png") -27px -41px;
}

.petalbox .triangle.t2 span.icon {
    background: url("../images/icon.png") -144px -41px;
}

.petalbox .triangle.t3 span.icon {
    background: url("../images/icon.png") -277px -41px;
}

.petalbox .triangle span.icon {
    width: 80px;
    height: 80px;
    display: block;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/**/

.map_left {
    height: 70vh;
}

.map_left iframe {
    height: 100%;
}

.map_right {
    height: 70vh;
    background: #fff;
    padding: 10px 50px 0 50px;
}

.maptitle {
    display: block;
    text-align: center;
    color: #f5886c;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
	line-height: 1;
	margin-top: 100px;
}

.mapsubtitle {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.where ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.where ul li {
    width: 19%;
    text-align: center;
    margin: 0.7vh;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
	background: #f7f7f7;
	padding: 10px 0;
	min-height: 80px;
	float: left;
}

.where ul li span {
    display: block;
}

.where ul .itempg {
    display: block;
    background: url("../images/icon.png") -44px -133px;
    width: 140px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemt {
    display: block;
    background: url("../images/icon.png") -44px -133px;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemgg {
    display: block;
    background: url("../images/icon.png") -90px -133px;
    width: 90px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemfp {
    display: block;
    background: url("../images/icon.png") -143px -133px;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemlf {
    display: block;
    background: url("../images/icon.png") -44px -133px;
    width: 85px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemff {
    display: block;
    background: url("../images/icon.png") -91px -133px;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemvg {
    display: block;
    background: url("../images/icon.png") -44px -133px;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemyg {
    display: block;
    background: url("../images/icon.png") -44px -133px;
    width: 140px;
    height: 35px;
    margin: 0 auto;
}

.where ul .itemzf {
    display: block;
    background: url("../images/icon.png") -90px -133px;
    width: 90px;
    height: 35px;
    margin: 0 auto;
}

.where ul li span.item_title {
    margin-top: 0.5vh;
}

.seemore {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    height: 60px;
    line-height: 60px;
    width: 380px;
	text-align: center;
	margin-top: 30px;
	left: 50%;
	transform: translateX(-50%);
	position:relative
}

.seemore a {
    color: #fff;
    display: block;
    background: #a8cf45;
    border-radius: 4px;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.seemore a:hover,
.seemore a:active,
.seemore a:focus {
    text-decoration: none;
    background: #91bd22;
}

.stayline {
    padding: 100px 0;
}

.stayline .staylbl {
    display: inline-block;
    font-size: 22px;
    color: #f5886c;
    float: left;
    line-height: 22px;
}
.gym-feature{
	margin-bottom: 3px;
}

.stayline .staylbl2 {
    display: inline-block;
    font-size: 14px;
    color: #000;
    line-height: 22px;
}

.stayline:after {
    content: "";
    display: block;
    clear: both;
}

.subscribeform {
    margin-top: 20px;
}

.subscribeform input[type="email"] {
    width: 70%;
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px;
    border: 1px solid #000;
    border-radius: 4px;
    padding-left: 12px;
    margin-right: 20px;
}

.subscribeform input[type="submit"] {
    background: #a8cf45;
    height: 60px;
    line-height: 60px;
    width: 80px;
    border: 0px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    text-transform: uppercase;
}

.phnum .phicon {
    display: block;
    background: url("../images/icon.png") -226px -123px;
    width: 40px;
    height: 40px;
    float: left;
    color: #000;
    margin-right: 20px;
}

.phnum {
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: #000;
    margin-bottom: 30px;
}

.emailicon {
    display: block;
    background: url("../images/icon.png") -311px -123px;
    width: 40px;
    height: 40px;
    float: left;
    color: #000;
    margin-right: 20px;
}

.email {
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: #000;
}

.email a {
    color: #000;
}


/* =======   2.0 Home   ======= */


/*footer*/

ul.policy {
    margin: 0;
    padding: 0;
}

ul.policy li {
    padding: 0 30px;
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

ul.policy li a {
    color: #000;
}

.footer {
    background: #ededed;
    padding: 50px 0;
}

.copy {
    color: #000;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
}

.become {
    background: #f5886c;
    height: 60px;
    line-height: 60px;
    width: 100%;
    border-radius: 4px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
     transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.become:hover,
.become:active,
.become:focus {
    text-decoration: none;
    color: #fff;
   	background: #f67250;
}

.header-nav{
	/*background: rgba(0,0,0, .7);*/
	position: fixed;
	width: 100%;
	top: 0;
	padding: 10px 0;
	z-index: 101;
}
.header-img{
	height: 100vh;
	width: 100%;
	background: url(../images/image.jpg) no-repeat center;
	background-size: cover;
}
.float-left{
	position: relative;
	float: left;	
}
#login{
	text-transform: uppercase;
	background: #a9cf46;
	color: #fff;
	line-height:40px;
	padding: 12px 40px;
	border-radius: 5px;
}
.header-right{
	text-align: right;
	width: 50%;
	margin-top: 7px;
}
#logo{
	width: 50%;
}
.social{
	position: fixed;
	bottom: 10px;
	right: 0;
	z-index: 101;
	background: #a8cf45;
	list-style: none;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.social li{	
	position:relative;
	border-bottom: 1px solid #97ba3e;
}
.social li:last-child{
	border: none;
}
.social a{
	width: 60px;
	height: 60px;
}
.icon{
	background: url(../images/icon.png) no-repeat;
	display: block;
}
.facebook{	
	background-position: -46px -189px;
}
.twitter{
	background-position: -106px -189px;
}
.pinterest{
	background-position: -166px -189px;
}
.instagram{
	background-position: -226px -189px;
}
.header-section{
	height: 100%;
}
#shape{
	/*background: #fff;*/
	width: 100%;
	height: 100%;	
}
.center-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.mid-logo{	
	width: calc(100% - 3px);
	margin-left: 3px;
	overflow: hidden;	
    position: relative;
}
.mid-logo::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: #f6886d;
    position: absolute;
    left: 20%;
	top: 0;
}
.fixed-header{
	background: rgba(255,255,255, .8)
}
.mid-logo img{
	max-width: 100%;
}
.mid-disc{
	background: #f6886d;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 22%;		
}
.mid-disc h2{
  font-size: 15px;
  color: #ffffff;
}
#shape hr{
	background: #f2f2f2;
	height: 1px;
	display: block;
	position: absolute;
}

h1{
	font-size: 50px;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 5px;
	margin-top: 0;
}
.mid-disc h2{
	color: #fff;
	font-size: 15px;
}
#form{
	width: 65%;
	position: relative;
	top: 43%;
	margin: auto;
}
#form input[type="email"]{
	background: none;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 48%;
	color: #fff;
	margin: 1%;
	float: left;
	padding: 10px 10px;
}
#form input[type="submit"]{
	background: #f6886d;
	text-transform: uppercase;
	color: #fff;
	line-height:40px;
	padding: 2px 40px;
	border-radius: 5px;
	text-align: center;
	border: none;
	margin-top: 1%;
}
.select-city{
	width: 48%;
	margin: 1%;
}
input[type="text"]::-moz-placeholder{color:#fff;opacity:1}input[type="text"]:-ms-input-placeholder{color:#fff}input[type="text"]::-webkit-input-placeholder{color:#fff}
input[type="email"]::-moz-placeholder{color:#fff;opacity:1}input[type="email"]:-ms-input-placeholder{color:#fff}input[type="email"]::-webkit-input-placeholder{color:#fff}
.mobilescreen{
	width: 100%;
	padding: 100px 0;
	background: url(../images/wooden.jpg) repeat-y;
}
.mobilescreen h1{
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.mobilescreen h1 span, .how-work h1 span{
	font-weight: 400;
}
.how-work{
	padding: 100px 0;
	text-align: center;
}
.how-work h1{
	color: #f5886c;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
li{
	list-style: none;
}
.icon-big{
	width: 90px;
	height: 90px;
	margin: 50px auto 15px; 
}
aside{
	text-align: center;	
}
aside h5{
	text-transform: uppercase;
	font-size: 16px;
	color: #3b3b3b;
}
.search{
	background-position: -43px -255px;
}
.clock{
	background-position: -133px -255px;
}
.workout{
	background-position: -223px -255px;
}
.how-work{
	height: 630px;
}
.how-work aside{
	width: 30%;
	margin: auto;
}
.how-work aside:hover{
	cursor: pointer;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > a:active{
	background: #fff;
	border: none;	
}
.nav-tabs > li > a,.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border: none;
}
.nav-tabs{
	border: none;
}
.how-work .nav-tabs .active:after{
	content:'';
	width: 25px;
	height: 13px;
	background: url(../images/arrow.png);
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2
}
.how-work aside:hover h5,.active aside h5{
	color: #f5886c;
	text-decoration: none;
}
.how-work aside:hover .search, .active .search{
	background-position: -43px -345px;
}
.how-work aside:hover .clock, .active .clock{
	background-position: -133px -345px;
}
.how-work aside:hover .workout, .active .workout{
	background-position: -223px -345px;
}
.icon-small{
	width: 100px;
	height: 82px;
	margin: auto
}
.workout-2{
	background-position: -369px -36px;
}
.setting{
	background-position: -469px -36px;
}
.rupees{
	background-position: -669px -36px;
}
.class{
	background-position: -769px -36px;
}
.calendar{
	background-position: -569px -36px;
}
.workout-3{
	background-position: -972px -36px;
}
.fit{
	background-position: -869px -36px;
}
.pin{
	width: 27px;
	height: 40px;
	background-position: -496px -119px;
}
.listview{
	width: 30px;
	height: 40px;
	background-position: -552px -119px;
}
.pin:hover, .location .active .pin{
	width: 27px;
	height: 40px;
	background-position: -496px -179px;
}
.listview:hover, .location .active .listview{
	width: 30px;
	height: 40px;
	background-position: -552px -179px;
}
.dance{
	width: 25px;
	height: 27px;
	background-position: -44px -134px;
}
.boxing{
	width: 31px;
	height: 24px;
	background-position: -92px -136px;
}
.weight{
	width: 31px;
	height: 18px;
	background-position: -145px -137px;
}
.gym-feature i{
	display: inline-block;
	margin: 0 5px;
}
.location .nav-tabs > li > a{
	display: block;
}
.gym{
	width: 127px;
	height: 82px;
	background-position: -369px -118px;
	margin: auto
}
.customSelect select{position: absolute;left: -999em}
.field{	
	margin-top: 80px;
}
.first{
	left: 5%;
}
.second{
	left: 50%;
	transform: translateX(-50%);
}
.third{
	left: 46%;	
}
.field a{
	color: #3d3d3d;
	text-transform: uppercase;
}
.field a:hover{ text-decoration: none; }
.gp{
	margin-left: 50px;
}
#screen-step{
	margin: 70px 0 50px;
	position:relative
}
#screen-step li{
	margin: 30px 0;
	font-size: 20px;
	font-weight: 100;
	background: url(../images/list.png) no-repeat left;
	padding-left: 36px;
}
#screen-step a:focus, #screen-step a:active{
	text-decoration: none !important
}
#screen-step a{
	position: relative;
	color: #fff
}

#xs-screen-step a:hover{
	text-decoration: none;
}
#xs-screen-step li.active a{
	font-weight: 700;
}

#xs-screen-step{
	margin: 20px 0;
	position:relative
}
#xs-screen-step li{
	margin: 10px 0px;
	font-size: 18px;
	font-weight: 100;
	display: inline;
	width: auto;
	text-align: center;
}
#xs-screen-step li:first-child{
	margin-left: 0;
}
#xs-screen-step li:nth-child(5){
	margin-left: 0;
}
#xs-screen-step a:focus, #xs-screen-step a:active{
	text-decoration: none !important
}
#xs-screen-step{ color: #fff; }
#xs-screen-step a{
	position: relative;
	color: #fff;
	margin: 0 10px;
}
#myCarousel p{
	margin: 50px 0 0;
	color: #fff;
}
#myCarousel-xs p{
	margin: 20px 0;
	color: #fff;
}
#screen-step a:hover{
	text-decoration: none;
}
#screen-step li.active{
	background: url(../images/listcrr.png) no-repeat left;
}
.app-icon{
	margin-top: 20px;
}
.mb-img{
	height: 100vh;
	width: 100%;
	background: url(../images/mb.jpg) no-repeat;
	display: none;
}
.mb-logo{
	margin-top: 100px !important;
}
.mb-logo img{
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}
.mb-disc{
	padding: 15px 0;
	background: #f6886d;
	margin-top: 30px;
	text-align: center
}
.mb-disc h1{
	font-size: 32px;
	text-align: center;
}
.mb-disc h2{
	color: #fff;
	padding: 0 15px;
    font-size: 15px;
}
#mb-form{
	width: 100%;
	position: relative;
	margin-top: 30px;
}
#mb-form input[type="email"]{
	background: none;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 100%;
	color: #fff;
	margin-bottom: 15px;
	float: left;
	padding: 10px 10px;
}
#mb-form input[type="submit"]{
	background: #f6886d;
	text-transform: uppercase;
	color: #fff;
	line-height:40px;
	padding: 2px 40px;
	border-radius: 5px;
	text-align: center;
	border: none;
	margin-top: 15px;
}
/*.phone{
	overflow: hidden;
}*/
#mb-form .customSelect{
	width: 100%;
	margin: 0
}
#mobile-frame{
	z-index: 2;
	position: absolute;
	top:0;
}
#mobile-app{
	position: relative;
	top: 0;
	z-index: 1;
	width: 257px;
	height: 455px;
	margin-top: 73px;
	margin-left: 56px;
}

.carousel__subheader{
  font-size: 15px;
  color: #ffffff;
}

.carousel-indicators{
	left: 0;
	width: 100%
}
.carousel-indicators li {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    text-indent: 0;
	text-align: left;
    border: none;
    border-radius: 0px;
	list-style-position: inside;
	list-style-image: url(../images/list.png);
    cursor: pointer;
    background-color: transparent;
}
.carousel-indicators .active{
	width: 100%;
    height: auto;
	background-color: transparent;
}
.mobilescreen .vertical .carousel-inner {
  height:500px;
}
.mobilescreen .carousel.vertical  .item {
  -webkit-transition: 0.6s ease-in-out top ;
     -moz-transition: 0.6s ease-in-out top ;
      -ms-transition: 0.6s ease-in-out top ;
       -o-transition: 0.6s ease-in-out top ;
          transition: 0.6s ease-in-out top ;
   
}

.subfield .field{
	border: 1px solid #e5e5e5;
	padding-top: 20px;
	background: #f5f5f5;
}
.workfield .active .backbor{
	display: block;
	content: '';
	height: 248px;
	width: 255px;
	background: #fff;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
	border-bottom: none;
	position: absolute;	
	z-index: -1
}
.back-1{
	top: 35px;
	left: 44px;
}
.back-2{
	top: 35px;
	left: 52px;
}
.back-3{
	top: 35px;
	right: 31px;
}
.backbor{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.subfield .first{
	-webkit-border-radius: 20px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topleft: 0;
	border-radius: 20px;
	border-top-left-radius: 0;
}
.subfield .second{
	border-radius: 20px;
}
.subfield .third{
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background: none;z-index: 2 }

.mobilescreen .carousel.vertical .active { 
    top: 0;
}

.mobilescreen .carousel.vertical .next {
    top: 455px;
}

.mobilescreen .carousel.vertical .prev {
    top: -455px;
}

.mobilescreen .carousel.vertical .next.left,
.mobilescreen .carousel.vertical .prev.right {
    top: 0;
}

.mobilescreen .carousel.vertical .active.left {
    top: -455px;
  
}

.mobilescreen .carousel.vertical .active.right {
    top: 455px;
   
}
.mobilescreen .carousel.vertical .item {
    left: 0px;
}
.vr{
	position: relative;
}
.location{
	position: absolute;
	top: 175px;
	right: 30px;
	width: 150px;
	text-align: center;
}
.marker-link{
	color: #3b3b3b;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
}
.marker-link a{
	color: #3b3b3b;
}
.marker-link a:hover, .marker-link a:active,.marker-link a:focus, .selected-link{
	color: #f6886d !important;
	text-decoration: none;
}
.nav-tabs.location > li{
	width: 50%;
	margin-bottom: 50px;
}
.nav-tabs.location > li > a{
	height: 40px;
	padding: 0;
	text-align: center;
}
.gif-img{
	position: absolute;
	z-index: 2;
	width: 12.736%;
}
/*.img-logo{
	width: 100%;
	max-height: 100px;
	min-height: 84px;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
}*/
.img-logo1 , 
.img-logo2 ,
.img-logo3 ,
.img-logo4 ,
.img-logo5 ,
.img-logo6 ,
.img-logo7 ,
.img-logo8 ,
.img-logo9 ,
.img-logo10 {
  width: 100%;
  max-height: 100px;
  min-height: 84px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;   
}

.gif-img img{
	width: 100%;
}
.ogif-1{
	top: 1%;
	left: 45%;
}
.ogif-2{
	top: 21%;
	left: 31%;
}
.ogif-3{
	top: 45%;
    left: 26%;
}
.ogif-4{
	bottom: 21%;
	left: 31%;
}
.ogif-5{
	bottom: 1%;
	left: 45%;
}
.igif-1{
	top: 18%;
	right: 19%;
}
.igif-2{
	top: 30%;
	right: 28%;
}
.igif-3{
	top: 45%;
	right: 30%;
}
.igif-4{
	bottom: 30%;
	right: 27%;
}
.igif-5{
	bottom: 18%;
	right: 19%;
}
.xs-screen{	display:  none }
#map {background: transparent;position: relative;}
.header-section hr{
	position: absolute;
}
#hr-1{
	-ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
	width: 152%;
	top: -2%;
	left: -33%;
}
#hr-2{
	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
	transform: rotate(20deg);
	width: 106%;
	top: 28%;
	left: -4%;

}
#hr-3{
	width: 99%;
	top: 50%;
	transform: translateY(-50%);
}
#hr-4{
	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
	transform: rotate(20deg);
	width: 106%;
	top: 28%;
	left: -4%;
}

/*slider hack for crome*/
 @media screen and (-webkit-min-device-pixel-ratio:0) { 
.mobilescreen .carousel.vertical .carousel-inner > .active.left {left: 100%;}
.mobilescreen .carousel.vertical .carousel-inner > .active.right{left: -100%;} 
}
@media only screen and (min-width: 1679px) and (max-width: 1920px) {
.ogif-1{
	top: 8%;
	left: 45%;
}
.ogif-2{
	top: 25%;
	left: 31%;
}
.ogif-3{
	top: 45%;
    left: 26%;
}
.ogif-4{
	bottom: 25%;
	left: 31%;
}
.ogif-5{
	bottom: 8%;
	left: 45%;
}
.igif-1{
	top: 23%;
	right: 19%;
}
.igif-2{
	top: 33%;
	right: 28%;
}
.igif-3{
	top: 45%;
	right: 30%;
}
.igif-4{
	bottom: 33%;
	right: 27%;
}
.igif-5{
	bottom: 22%;
	right: 19%;
}
}
@media only screen and (min-width: 1440px) and (max-width: 1599px) {
.ogif-1{
	top: 9%;
	left: 37%;
}
.ogif-2{
	top: 26%;
	left: 22%;
}
.ogif-3{
	top: 45%;
    left: 16%;
}
.ogif-4{
	bottom: 26%;
	left: 22%;
}
.ogif-5{
	bottom: 8%;
	left: 37%;
}
.igif-1{
	top: 23%;
	right: 24%;
}
.igif-2{
	top: 34%;
	right: 33%;
}
.igif-3{
	top: 46%;
	right: 36%;
}
.igif-4{
	bottom: 34%;
	right: 33%;
}
.igif-5{
	bottom: 23%;
	right: 24%;
}
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
.ogif-1{
	top: 8%;
	left: 45%;
}
.ogif-2{
	top: 25%;
	left: 31%;
}
.ogif-3{
	top: 45%;
    left: 26%;
}
.ogif-4{
	bottom: 25%;
	left: 31%;
}
.ogif-5{
	bottom: 8%;
	left: 45%;
}
.igif-1{
	top: 23%;
	right: 19%;
}
.igif-2{
	top: 33%;
	right: 28%;
}
.igif-3{
	top: 45%;
	right: 30%;
}
.igif-4{
	bottom: 33%;
	right: 27%;
}
.igif-5{
	bottom: 22%;
	right: 19%;
}
}
@media only screen and (min-width: 960px) and (max-width: 1166px) {
	#mobile-app{ margin-top: 125px }
	#mobile-frame{ top: -73px }	
	.how-work aside{ width: 100% }
	.workfield .active .backbor{ width: calc(100% - 40px) }
	.back-1{ top: 35px;left: 23px; }
	.back-2{ top: 35px;left: 18px; }
	.back-3{ top: 35px;right: 13px; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	/*.first{ left: 30%;}*/
	.mobilescreen{ background: url(../images/wooden.jpg) repeat-y; }
	.phone{margin-top:70px}
	.phone img{position: relative;left: 50%;transform: translateX(-50%)}
	#mobile-frame{ top: -73px }	
	#mobile-app{ left: 50%;transform: translateX(-50%);margin-left: -4px;margin-top: 0px; }
	#screen-step li{margin: 20px 0;}
	#screen-step{margin:50px 0 0}
	.gp { margin-top: 20px !important;display: block;margin-left:0}
	#myCarousel p{margin: 20px 0 0}
	.location{position: relative;top: auto;right: auto;left: 50%;transform: translateX(-50%);}
	.location .icon{left: 50%;transform: translateX(-50%);position:relative}
	.workfield .active .backbor{ width: calc(100% - 40px) }
	.back-1{ top: 35px;left: 23px; }
	.back-2{ top: 35px;left: 30px; }
	.back-3{ top: 35px;right: 13px; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.first, .second, .third{ left: auto;transform: none}
	.mobilescreen{ background: url(../images/wooden.jpg) repeat-y; }
	.phone{margin-top:70px}
	.phone img{position: relative;left: 50%;transform: translateX(-50%)}
	#mobile-frame{ top: -73px }	
	#mobile-app{ left: 50%;transform: translateX(-50%);margin-left: -4px;margin-top: 125px; }
	.how-work{ height: auto }
	.gp{margin-top: 10px;margin-left: 0;display: block}
	.how-work aside{width: 100%}
	.sub-field{margin-bottom: 30px}
	.mobilescreen{ padding: 100px 0 200px }
	.nav-tabs{
		padding: 0 15px;
	}
	.nav-tabs .col-lg-4{
		padding: 0;
		width: 33.333%;
		float: left;
	}
	.mobilescreen h1, .mobilescreen{text-align: center}
		.mobilescreen .vertical .carousel-inner{ height: 535px }
	.phone{margin:0}
	.xs-screen{	display:  block }
	.lg-screen{	display:  none }
	.location{position: relative;top: auto;right: auto;left: 50%;transform: translateX(-50%);}
	.location .icon{left: 50%;transform: translateX(-50%);position:relative}
	.lg-screen, .workfield .active .backbor{display:none}
}
@media only screen and (min-width: 100px) and (max-width: 479px) {
	.first, .second, .third{ left: auto;transform: none}
	.mobilescreen{ background: url(../images/wooden.jpg) repeat-y; }
	.phone{margin-top:70px}
	.phone img{position: relative;left: 50%;transform: translateX(-50%)}
	#mobile-frame{ top: -73px }	
	#mobile-app{ left: 50%;transform: translateX(-50%);margin-left: -4px;margin-top: 125px; }
	.how-work{ height: auto }
	.gp{margin-top: 10px;margin-left: 0;display: block}
	.how-work aside{width: 100%}
	.mobilescreen .vertical .carousel-inner{ height: 535px }	
	.sub-field{margin-bottom: 30px}
	.nav-tabs{
		padding: 0 15px;
	}
	.phone{margin:0}
	.nav-tabs .col-lg-4{
		padding: 0;
		width: 33.333%;
		float: left;
	}
	.mobilescreen h1, .mobilescreen{text-align: center}
	.xs-screen{	display:  block }
	.lg-screen{	display:  none }
	.location{position: relative;top: auto;right: auto;left: 50%;transform: translateX(-50%);}
	.location .icon, .workfield .active .backbor{left: 50%;transform: translateX(-50%);position:relative}
}
@media only screen and (min-width: 100px) and (max-width: 1279px) {
	.header-img{ display: none;}	
	.mb-img{ display: block; }
}